@model Stadium


<div style="padding-top:3%;">

	<h2 style="font-family:Qatar; margin-bottom:5%;">@Model.Name</h2>
	<img style="margin-bottom:3%;" src="@Model.ImageURL" />
	<h5 style="margin-bottom:3%;">
		Capacity : @Model.Capacity </h5>
		<h5 style="margin-bottom:3%;">
		Location : @Model.Location </h5>

</div>




