@{
    ViewData["Title"] = "Home Page";
}

<div id="upmarg" class="text-center ">
    <div id="carouselExampleInterval" class="carousel slide " data-mdb-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-mdb-interval="2000">
                @*<img src="https://i.ytimg.com/vi/PgV_z-TA0aw/maxresdefault.jpg" class="d-block w-100" alt="Camera" />*@
                @*<img src="https://images3.alphacoders.com/128/1286556.jpg" class="d-block w-100" alt="Camera" />*@
                <img src="../images/f1.jpg" class="d-block w-100" alt="Camera" />
            </div>
            <div class="carousel-item " data-mdb-interval="2000">
                @*<img src="https://images.mlssoccer.com/image/private/t_editorial_landscape_12_desktop/f_auto/prd-league/sv3xmkq6qfcz98d6grxl.jpg" class="d-block w-100" alt="Wild Landscape" />*@
                @*<img src="https://images5.alphacoders.com/128/1288612.jpg" class="d-block w-100" alt="Wild Landscape" />*@
                <img src="../images/f2.jpg" class="d-block w-100" alt="Wild Landscape" />

            </div
        </div>
        <button class="carousel-control-prev" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
</div>

   <style>
     
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 2188vmax;
}
.container {
  
    padding-right: 0px ; 
    padding-left: 0px ;
  
    
}

    .pb-3{
        margin-top: 72px !important ;
    }

   </style>