@model Highlights




<div style="padding-top:3%;">
	<h2 style="font-family:Qatar; margin-bottom:5%;">@Model.Title</h2>
	<iframe style=" height:70vh;width:70vw;margin-bottom:2%;" src="@Model.VideoUrl"></iframe>
	<p style="font-size:20;font-family:Google Sans,arial,sans-serif;"><i>@Model.Description</i></p>

</div>
	



