@inject UserManager<ApplicationUser> UserManager;

    @if (!User.Identity.IsAuthenticated)
        {
            <div class="d-flex justify-content-end align-items-center">
            <a type="button" class="bg-dark text-light btn px-3 ms-2 me-2" asp-action="Login" asp-controller="Account">Log in</a>
            <a type="button" class="btn btn-secondary me-3" asp-action="Register" asp-controller="Account">Sign Up</a>
            <!--<button type="button" class=" btn btn-secondary me-3">
              Sign up for free
             </button>-->
             </div>
        }
else
{
     <div class="dropdown">
        <button class="btn btn-success dropdown-toggle"type="button"id="dropdownMenuButton"data-mdb-toggle="dropdown" aria-expanded="false">
            Hello @UserManager.GetUserName(User)
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
                <a class="dropdown-item" asp-controller="Orders" asp-action="Index"><i class="bi bi-list"></i>Orders</a>
            </li>

            @if (User.IsInRole("Admin"))
            {

                <li>
                    <a class="dropdown-item" asp-controller="Account" asp-action="Users"><i class="bi bi-people"></i>Users</a>
                </li>
            }
        </ul>
     </div>
    <form asp-controller="Account" asp-action="Logout">
    <button class="bg-light text-dark btn px-3 ms-2 me-2"> Log out</button>
    </form>
}

