@font-face {
    font-family: Qatar;
    src: url('Qatar2022Arabic-Bold.ttf');
  
}
@font-face {
    font-family: Qatar-light;
    src: url('Graphik Arabic Medium.ttf');
}





html {
    font-size: 14px;
    font-family: Qatar;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;

}

body {
  margin-bottom: 60px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #fff #c4c4c4;
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 10px;
}

/*::-webkit-scrollbar-track { 
     background: #fff; 
 }*/

*::-webkit-scrollbar-thumb {
    background-color: #8A1538;
}