@model News


<div style="padding-top:3%;">
	<h2 style="font-family:Qatar; margin-bottom:5%;">@Model.Title</h2>
	<p style="font-size:20;font-family:Google Sans,arial,sans-serif;"><i>@Model.Description</i></p>
	@if(Model.SecondaryImageUrl!=null)
	{
		<img src="@Model.SecondaryImageUrl" />
		
	}
	@if(Model.VideoUrl != null){
		<iframe style=" height:70vh;width:70vw;margin-bottom:2%;margin-top:5%;" src="@Model.VideoUrl"></iframe>
	}
	
	
</div>




