﻿@using WorldCup.Data.ViewModels;
@model LoginVM;


@{
    ViewData["Title"] = "Log in to your account";
}

<section class="vh-100" style="margin-top:10%;">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5 ">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-2 me-3">Sign in </p>

                    </div>



                    <!-- Email input -->
                    <div class="form-group mb-4">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" type="email" id="form3Example3" class="form-control form-control-lg"
                               placeholder="Enter a valid email address" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div class="form-group mb-3">
                        <label asp-for="Password" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="Password" type="password" id="form3Example4" class="form-control form-control-lg"
                                   placeholder="Enter password" />
                            <div class="input-group-append">
                                <span class="input-group-text bg-white border-left-0">
                                    <i class="fas fa-eye-slash" id="togglePasswordVisibility"></i>
                                </span>
                            </div>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger">@TempData["Error"]</div>
                    }

                    @*                    <div class="d-flex justify-content-between align-items-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-0">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                    <label class="form-check-label" for="form2Example3">
                    Remember me
                    </label>
                    </div>
                    <a href="#!" class="text-body">Forgot password?</a>
                    </div>*@

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <input type="submit" class="btn btn-primary btn-lg"
                               style="padding-left: 2.5rem; padding-right: 2.5rem;" value="Login"></input>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Don't have an account? <a class="link-danger" asp-action="Register">Sign up</a>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("togglePasswordVisibility").addEventListener("click", function () {
            var passwordInput = document.getElementById("form3Example4");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        });
    </script>
